doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='style/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Grid js same as USER.
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js')
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
  script(src='adminGrid.js')
  title UEA PARKING MANAGEMENT (ADMINISTRATOR)
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#') UEAPM
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Requests
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Users
      li.nav-item.dropdown
        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Car Parks
          .dropdown-menu#carParkSelect(aria-labelledby='dropdownMenuButton')
      li.nav-item 
        button(type='button')#createGrid Add temporary grid(ADD CAR PARK)
    a.text-white Hello, Dan! You are an administrator!
    #logOut.button.btn.btn-outline-success.my-2.my-sm-0(type='button') Log Out
main
  table.table.text-white
    thead
      tr
        th(scope='col') Request Time
        th(scope='col') Request
        th(scope='col') User
        th(scope='col') Car Park
        th(scope='col') Response
    tbody#request
  section
    .col-5
      #gridBackground.card(style='height: 70rem; width: 70rem;')
        .card-body
           #admin-grid 

nav.navbar.fixed-bottom.navbar-dark.bg-dark.justify-content-center
  a.navbar-brand(href='#')
    | Copyright &copy;2020 A1 UEA PARKING MANAGEMENT. For more information on our project, click here: 
    a(href='OurTeam.html') Group A1
